In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
data = pd.read_csv('AssamEmployment.csv')
data

,fin_year,month,state_code,state_name,district_code,district_name,Approved_Labour_Budget,Average_Wage_rate_per_day_per_person,Average_days_of_employment_provided_per_Household,Differently_abled_persons_worked,...,Total_No_of_JobCards_issued,Total_No_of_Workers,Total_No_of_Works_Takenup,Wages,Women_Persondays,percent_of_Category_B_Works,percent_of_Expenditure_on_Agriculture_Allied_Works,percent_of_NRM_Expenditure,percentage_payments_gererated_within_15_days,Remarks
0,2018-2019,May,4,ASSAM,402,KOKRAJHAR,408086,169.207281,23,137,...,188544,488381,7668,506.132818,127100,60,48.64,41.06,104.39,NaN
1,2018-2019,May,4,ASSAM,403,BONGAIGAON,204877,129.281740,11,8,...,114802,290570,5139,101.442210,28698,63,93.60,78.27,108.60,NaN
2,2018-2019,May,4,ASSAM,404,GOALPARA,157636,159.060843,14,30,...,149114,317343,7721,525.551340,144249,84,93.15,79.94,100.33,NaN
3,2018-2019,May,4,ASSAM,412,Morigaon,313490,150.131379,32,53,...,174018,344373,10098,1856.472088,523633,77,29.75,93.10,103.35,NaN
4,2018-2019,May,4,ASSAM,419,KARBI ANGLONG,280586,186.380045,9,16,...,145136,269544,7293,313.601200,75424,71,91.47,80.17,104.39,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12015,2025-2026,April,4,ASSAM,415,JORHAT,175514,9540.237113,2,0,...,173176,242907,3149,9.254030,68,51,2.01,0.00,100.00,NaN
12016,2025-2026,April,4,ASSAM,418,TINSUKIA,299251,0.000000,0,0,...,210082,299354,5604,27.847130,0,55,0.00,0.00,0.00,NaN
12017,2025-2026,April,4,ASSAM,424,BAKSA,112878,0.000000,0,0,...,155221,238751,10333,0.478020,0,86,0.00,0.00,0.00,NaN
12018,2025-2026,April,4,ASSAM,429,HOJAI,122697,29287.299320,1,1,...,158892,246023,5169,43.052330,73,72,78.89,6.79,100.00,NaN
12019,2025-2026,April,4,ASSAM,432,MAJULI,112385,0.000000,0,0,...,39246,59231,2187,5.191650,0,82,0.00,0.00,0.00,NaN

In [5]:
data.shape

(12020, 36)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12020 entries, 0 to 12019
Data columns (total 36 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   fin_year                                               12020 non-null  object
 1   month                                                  12020 non-null  object
 2   state_code                                             12020 non-null  int64
 3   state_name                                             12020 non-null  object
 4   district_code                                          12020 non-null  int64
 5   district_name                                          12020 non-null  object
 6   Approved_Labour_Budget                                 12020 non-null  int64
 7   Average_Wage_rate_per_day_per_person                   12020 non-null  float64
 8   Average_days_of_employment_provided_per_Household      12020 non-null  int64
 9   Differently_abled_persons_worked                       12020 non-null  int64
 10  Material_and_skilled_Wages                             12020 non-null  float64
 11  Number_of_Completed_Works                              12020 non-null  int64
 12  Number_of_GPs_with_NIL_exp                             12020 non-null  int64
 13  Number_of_Ongoing_Works                                12020 non-null  int64
 14  Persondays_of_Central_Liability_so_far                 12020 non-null  int64
 15  SC_persondays                                          12020 non-null  int64
 16  SC_workers_against_active_workers                      12020 non-null  int64
 17  ST_persondays                                          12020 non-null  int64
 18  ST_workers_against_active_workers                      12020 non-null  int64
 19  Total_Adm_Expenditure                                  12020 non-null  float64
 20  Total_Exp                                              12020 non-null  float64
 21  Total_Households_Worked                                12020 non-null  int64
 22  Total_Individuals_Worked                               12020 non-null  int64
 23  Total_No_of_Active_Job_Cards                           12020 non-null  int64
 24  Total_No_of_Active_Workers                             12020 non-null  int64
 25  Total_No_of_HHs_completed_100_Days_of_Wage_Employment  12020 non-null  int64
 26  Total_No_of_JobCards_issued                            12020 non-null  int64
 27  Total_No_of_Workers                                    12020 non-null  int64
 28  Total_No_of_Works_Takenup                              12020 non-null  int64
 29  Wages                                                  12020 non-null  float64
 30  Women_Persondays                                       12020 non-null  int64
 31  percent_of_Category_B_Works                            12020 non-null  int64
 32  percent_of_Expenditure_on_Agriculture_Allied_Works     12020 non-null  float64
 33  percent_of_NRM_Expenditure                             12020 non-null  float64
 34  percentage_payments_gererated_within_15_days           12020 non-null  float64
 35  Remarks                                                0 non-null      float64
dtypes: float64(9), int64(23), object(4)
memory usage: 3.3+ MB

In [8]:
data.describe(include='all')

,fin_year,month,state_code,state_name,district_code,district_name,Approved_Labour_Budget,Average_Wage_rate_per_day_per_person,Average_days_of_employment_provided_per_Household,Differently_abled_persons_worked,...,Total_No_of_JobCards_issued,Total_No_of_Workers,Total_No_of_Works_Takenup,Wages,Women_Persondays,percent_of_Category_B_Works,percent_of_Expenditure_on_Agriculture_Allied_Works,percent_of_NRM_Expenditure,percentage_payments_gererated_within_15_days,Remarks
count,12020,12020,12020.0,12020,12020.000000,12020,1.202000e+04,1.202000e+04,12020.000000,12020.000000,...,12020.000000,12020.000000,12020.000000,12020.000000,1.202000e+04,12020.000000,12020.000000,12020.000000,12020.000000,0.0
unique,8,12,NaN,1,NaN,36,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2024-2025,July,NaN,ASSAM,NaN,BAKSA,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,9492,1108,NaN,12020,NaN,350,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,4.0,NaN,417.807488,NaN,1.229316e+06,1.743758e+03,24.326955,76.205657,...,188223.485607,319051.754742,23843.791348,2423.566555,5.257782e+05,85.569135,45.110705,19.826784,99.849549,NaN
std,NaN,NaN,0.0,NaN,10.014012,NaN,8.915670e+05,4.396820e+04,9.108114,148.084588,...,89608.448278,153011.644048,15187.653940,2238.686869,4.934242e+05,10.313997,20.668536,24.033551,12.082792,NaN
min,NaN,NaN,4.0,NaN,401.000000,NaN,0.000000e+00,0.000000e+00,0.000000,0.000000,...,30613.000000,51146.000000,437.000000,0.000000,0.000000e+00,10.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,NaN,4.0,NaN,409.000000,NaN,4.839660e+05,2.434116e+02,18.000000,16.000000,...,136374.750000,224913.250000,10083.500000,619.607200,1.342052e+05,80.000000,30.280000,3.420000,99.930000,NaN
50%,NaN,NaN,4.0,NaN,418.000000,NaN,1.102631e+06,2.485292e+02,25.000000,37.000000,...,178468.000000,295260.000000,23598.500000,1760.772212,3.748015e+05,89.000000,42.660000,9.175000,100.010000,NaN
75%,NaN,NaN,4.0,NaN,426.000000,NaN,1.824911e+06,2.513960e+02,31.000000,79.000000,...,233716.250000,414515.750000,33529.000000,3620.574379,7.943998e+05,93.000000,58.392500,25.720000,100.280000,NaN
max,NaN,NaN,4.0,NaN,435.000000,NaN,6.139060e+06,2.197054e+06,53.000000,2652.000000,...,419180.000000,794186.000000,96183.000000,17577.352398,3.454508e+06,97.000000,100.000000,100.000000,516.800000,NaN

In [9]:
data.isnull().sum()

fin_year                                                     0
month                                                        0
state_code                                                   0
state_name                                                   0
district_code                                                0
district_name                                                0
Approved_Labour_Budget                                       0
Average_Wage_rate_per_day_per_person                         0
Average_days_of_employment_provided_per_Household            0
Differently_abled_persons_worked                             0
Material_and_skilled_Wages                                   0
Number_of_Completed_Works                                    0
Number_of_GPs_with_NIL_exp                                   0
Number_of_Ongoing_Works                                      0
Persondays_of_Central_Liability_so_far                       0
SC_persondays                                                0
SC_workers_against_active_workers                            0
ST_persondays                                                0
ST_workers_against_active_workers                            0
Total_Adm_Expenditure                                        0
Total_Exp                                                    0
Total_Households_Worked                                      0
Total_Individuals_Worked                                     0
Total_No_of_Active_Job_Cards                                 0
Total_No_of_Active_Workers                                   0
Total_No_of_HHs_completed_100_Days_of_Wage_Employment        0
Total_No_of_JobCards_issued                                  0
Total_No_of_Workers                                          0
Total_No_of_Works_Takenup                                    0
Wages                                                        0
Women_Persondays                                             0
percent_of_Category_B_Works                                  0
percent_of_Expenditure_on_Agriculture_Allied_Works           0
percent_of_NRM_Expenditure                                   0
percentage_payments_gererated_within_15_days                 0
Remarks                                                  12020
dtype: int64

In [12]:
mean = data['percentage_payments_gererated_within_15_days'].mean()
print(mean)

99.84954908485858

In [ ]:
data['Remarks'] = data['percentage_payments_gererated_within_15_days'].apply(
    lambda x: 'good' if x > mean else 'bad'
)