In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
data = pd.read_csv('AssamEmployment.csv')
data

,fin_year,month,state_code,state_name,district_code,district_name,Approved_Labour_Budget,Average_Wage_rate_per_day_per_person,Average_days_of_employment_provided_per_Household,Differently_abled_persons_worked,...,Total_No_of_JobCards_issued,Total_No_of_Workers,Total_No_of_Works_Takenup,Wages,Women_Persondays,percent_of_Category_B_Works,percent_of_Expenditure_on_Agriculture_Allied_Works,percent_of_NRM_Expenditure,percentage_payments_gererated_within_15_days,Remarks
0,2018-2019,May,4,ASSAM,402,KOKRAJHAR,408086,169.207281,23,137,...,188544,488381,7668,506.132818,127100,60,48.64,41.06,104.39,NaN
1,2018-2019,May,4,ASSAM,403,BONGAIGAON,204877,129.281740,11,8,...,114802,290570,5139,101.442210,28698,63,93.60,78.27,108.60,NaN
2,2018-2019,May,4,ASSAM,404,GOALPARA,157636,159.060843,14,30,...,149114,317343,7721,525.551340,144249,84,93.15,79.94,100.33,NaN
3,2018-2019,May,4,ASSAM,412,Morigaon,313490,150.131379,32,53,...,174018,344373,10098,1856.472088,523633,77,29.75,93.10,103.35,NaN
4,2018-2019,May,4,ASSAM,419,KARBI ANGLONG,280586,186.380045,9,16,...,145136,269544,7293,313.601200,75424,71,91.47,80.17,104.39,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12015,2025-2026,April,4,ASSAM,415,JORHAT,175514,9540.237113,2,0,...,173176,242907,3149,9.254030,68,51,2.01,0.00,100.00,NaN
12016,2025-2026,April,4,ASSAM,418,TINSUKIA,299251,0.000000,0,0,...,210082,299354,5604,27.847130,0,55,0.00,0.00,0.00,NaN
12017,2025-2026,April,4,ASSAM,424,BAKSA,112878,0.000000,0,0,...,155221,238751,10333,0.478020,0,86,0.00,0.00,0.00,NaN
12018,2025-2026,April,4,ASSAM,429,HOJAI,122697,29287.299320,1,1,...,158892,246023,5169,43.052330,73,72,78.89,6.79,100.00,NaN
12019,2025-2026,April,4,ASSAM,432,MAJULI,112385,0.000000,0,0,...,39246,59231,2187,5.191650,0,82,0.00,0.00,0.00,NaN

In [5]:
data.shape

(12020, 36)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12020 entries, 0 to 12019
Data columns (total 36 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   fin_year                                               12020 non-null  object
 1   month                                                  12020 non-null  object
 2   state_code                                             12020 non-null  int64
 3   state_name                                             12020 non-null  object
 4   district_code                                          12020 non-null  int64
 5   district_name                                          12020 non-null  object
 6   Approved_Labour_Budget                                 12020 non-null  int64
 7   Average_Wage_rate_per_day_per_person                   12020 non-null  float64
 8   Average_days_of_employment_provided_per_Household      12020 non-null  int64
 9   Differently_abled_persons_worked                       12020 non-null  int64
 10  Material_and_skilled_Wages                             12020 non-null  float64
 11  Number_of_Completed_Works                              12020 non-null  int64
 12  Number_of_GPs_with_NIL_exp                             12020 non-null  int64
 13  Number_of_Ongoing_Works                                12020 non-null  int64
 14  Persondays_of_Central_Liability_so_far                 12020 non-null  int64
 15  SC_persondays                                          12020 non-null  int64
 16  SC_workers_against_active_workers                      12020 non-null  int64
 17  ST_persondays                                          12020 non-null  int64
 18  ST_workers_against_active_workers                      12020 non-null  int64
 19  Total_Adm_Expenditure                                  12020 non-null  float64
 20  Total_Exp                                              12020 non-null  float64
 21  Total_Households_Worked                                12020 non-null  int64
 22  Total_Individuals_Worked                               12020 non-null  int64
 23  Total_No_of_Active_Job_Cards                           12020 non-null  int64
 24  Total_No_of_Active_Workers                             12020 non-null  int64
 25  Total_No_of_HHs_completed_100_Days_of_Wage_Employment  12020 non-null  int64
 26  Total_No_of_JobCards_issued                            12020 non-null  int64
 27  Total_No_of_Workers                                    12020 non-null  int64
 28  Total_No_of_Works_Takenup                              12020 non-null  int64
 29  Wages                                                  12020 non-null  float64
 30  Women_Persondays                                       12020 non-null  int64
 31  percent_of_Category_B_Works                            12020 non-null  int64
 32  percent_of_Expenditure_on_Agriculture_Allied_Works     12020 non-null  float64
 33  percent_of_NRM_Expenditure                             12020 non-null  float64
 34  percentage_payments_gererated_within_15_days           12020 non-null  float64
 35  Remarks                                                0 non-null      float64
dtypes: float64(9), int64(23), object(4)
memory usage: 3.3+ MB

In [7]:
data.describe(include='All')

TypeError: data type 'All' not understood